$TTL 1M
@       IN SOA  @ rname.invalid. (
                                        0       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum

@       IN      NS	ns1.rajhans.store.
@       IN	NS      ns2.rajhans.store.
ns1	IN 	A	13.233.103.38	
ns2	IN	A	13.233.103.38
@	IN 	A	105.75.25.26
mail	IN	A	50.50.50.50
web	IN	A	12.23.56.85
www	IN	CNAME	rajhans.com.
index	IN	A	43.204.116.239
photos	IN	A	43.204.116.239
